/* ------------------------GENERAL SETTINGS ------------------------*/

body {
    margin: 0px auto;
    font-family: 'Work Sans', sans-serif;
}

.page-container {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-header, nav, li, .shop-container, footer, .buttons {
    display: flex;
    flex-direction: row;
}

.book-container, .title, .book-images, .copy-text {
    display: flex;
    flex-direction: column;
}


/* --------------------HEADER AND MENUE SETTINGS------------------------ */

.top-header {
    /* justify-content: flex-start;
    align-items: baseline; */
    padding: 20px;
}

.top-header h1 {
    font-family: 'Nova Round', cursive;
    font-size: 6rem;
    font-weight: 100;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255,1);
    justify-content: center;
    min-width: 100vw;
    font-family: 'Nova Round', cursive;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 500;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,.2);
}

li, ul {
    margin: 0;
    list-style-type: none;
    padding: 0px 20px;
}

.desktop {          /* these ul elements of the menue is only visible on desktop */
    display: none;
}

/* ----------------- SHOP & BOOKS SETTINGS --------------- */

.shop-container {
    z-index: 1;
    justify-content: center;
    flex-wrap: wrap;
}

.book-container {
    max-width: 100vw;
    min-width: 50vw;
}

.title {
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(255, 252, 220);
}

.title h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.title h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding: 5px 0 0 0;
}

.book-images {
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 
    inset 1px 15px 7px -10px rgba(0,0,0,.3),
    inset -1px -10px 7px -10px rgba(0,0,0,.3);
}

.book-images img {
    width: 200px;
    box-shadow:
    1px 10px 10px -10px rgba(0,0,0,.6),
    -3px 1px 10px -3px rgba(175, 120, 0, 0.6),
    -7px 8px 5px -2px rgba(160, 96, 0, 0.2);
    border-left: 2px solid rgb(255, 174, 0);
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .2rem;
}

.copy-text, .book-details {
    line-height: 1.4rem;
    background-color:  rgb(255, 252, 220);
    text-align: justify;
}

.copy-text{
    padding: 10px 40px;
}

.book-details {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 3px 40px;
    font-size: .8rem;
}

.buttons {
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

button {
    font-family: 'Nova Round', cursive;
    font-weight: bold;
    color: white;
    height: 3rem;
    padding: 10px;
    /* max-width: 100%; */
    min-width: 50%;
    border-top: 5px solid rgba(255, 255, 255, 0.3);
    border-left: 5px solid rgba(0,0,0,.5);
    border-right: 5px solid rgba(0,0,0,.5);
    border-bottom: 5px solid rgba(255, 255, 255, 0.5);
}

.blackbox {
    background-color: blue;
}

.no-digital {
    min-width: 100%;
}

.gumroad {
    background-color: rgb(255, 95, 242);
}

button:hover {
    background: light(darkblue,5%);
}

button:active {
    font-size: .8rem;
    border-top: 3px solid rgba(0,0,0,.3);
    border-left: 3px solid rgba(0,0,0,.5);
    border-right: 3px solid rgba(0,0,0,.5);
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
